{% if env.getConfig("sofortcom_enabled") and env.getConfig("sofortcom_configkey")|length > 0 %}
	<h3>{{ i18n.getMessage("sofortcompayment_link_title") }}</h3>
	
	{% set banner = skin.getImage("sofortcom/banner_" ~ i18n.getCurrentLanguage() ~ ".png") %}
	{% if banner != null %}
	<p><a href="https://www.sofort.com" target="_blank"><img src="{{ banner }}" alt="Sofort.com"></a></p>
	{% endif %}
	
	<p>{{ i18n.getMessage("sofortcompayment_link_intro")|raw }}</p>
	
	<form method="post" class="form-inline">
		<input type="hidden" name="action" value="sofortcom-redirect"/>
		<input type="hidden" name="page" value="{{ env.getPageId() }}"/>
		
		<select name="amount" id="amount">
		{% set priceOptions = env.getConfig("premium_price_options")|split(',') %}
		{% if priceOptions|length > 0 %}
				{% for priceOption in priceOptions %}
					{% set optionParts = priceOption|split(':') %}
					<option value="{{ optionParts[0] }}">{{ optionParts[0] }} {{ env.getConfig("premium_currency") }} ({{ optionParts[1] }} {{ env.getConfig("premium_credit_unit") }})</option>
				{% endfor %}
		{% endif %}
		</select>
		
		<button type="submit" class="btn btn-primary">{{ i18n.getMessage("sofortcompayment_label_submit") }}</button>
	</form>
	
{% endif %}