{% extends "box.twig" %}

{% block box_title %}
{{ i18n.getMessage('news_block_title') }}
{% endblock %}

{% block box_content %}

<ul class="unstyled">
	{% for article in topnews %}
		<li><small>{{ article.date }}</small> <a href="{{ env.getInternalUrl("news-details", "id=" ~ article.id) }}">{{ article.title }}</a></li>
	{% endfor %}
  
</ul>

<p><a href="{{ env.getInternalUrl("news") }}" class="btn btn-primary">{{ i18n.getMessage("button_more") }}</a></p>

{% endblock %}