{% import "macros/formelements.twig" as formelements %}

{% extends "base.twig" %}

{% block page_title %}
{{ i18n.getMessage("enter-username_navlabel") }}
{% endblock %}

{% block page_content %}
<p>{{ i18n.getMessage("enter-username_intro") }}</p>

<form class="form-horizontal" method="post">

	{{ formelements.textfield('nick', i18n.getMessage('entity_users_nick'), env.getRequestParameter('nick'), true, validationMsg, 'text') }}
	
	{{ formelements.checkbox('termsandconditions', i18n.getMessage('termsandconditions_accept', env.getInternalUrl("termsandconditions")), env.getRequestParameter("termsandconditions"), true, validationMsg) }}
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{{ i18n.getMessage('button_save') }}</button>
	</div>
	<input type="hidden" name="page" value="enter-username"/>
	<input type="hidden" name="action" value="save-username"/>
</form>

{% endblock %}