{% extends "base.twig" %}
{% import "macros/formelements.twig" as formelements %}

{% block page_title %}
	{{ i18n.getMessage("lend-player_navlabel") }}:
	{% if player.player_pseudonym|length > 0  %}
		{{ player.player_pseudonym }}
	{% else %}
		{{ player.player_firstname ~ " " ~ player.player_lastname }}
	{% endif %}
{% endblock %}

{% block page_content %}

<dl class="dl-horizontal">
  <dt>{{ i18n.getMessage("entity_player_marktwert") }}</dt>
  <dd>{{ player.player_marketvalue|number_format(0, ',', ' ')  }} {{ env.getConfig("game_currency") }}</dd>

  <dt>{{ i18n.getMessage("entity_player_vertrag_gehalt") }}</dt>
  <dd>{{ player.player_contract_salary|number_format(0, ',', ' ')  }} {{ env.getConfig("game_currency") }}</dd>
  
  <dt>{{ i18n.getMessage("entity_player_vertrag_torpraemie") }}</dt>
  <dd>{{ player.player_contract_goalbonus|number_format(0, ',', ' ')  }} {{ env.getConfig("game_currency") }}</dd>
  
  <dt>{{ i18n.getMessage("entity_player_vertrag_spiele") }}</dt>
  <dd>{{ player.player_contract_matches  }} {{ i18n.getMessage("player_details_unit_matches") }}</dd>
</dl>

<p style="margin-top: 30px"><i class="icon-arrow-right"></i> <a href="{{ env.getInternalUrl("player", "id=" ~ player.player_id) }}">{{ i18n.getMessage("player_navlabel") }}</a></p>

<p>{{ i18n.getMessage("lend-player_intro", env.getConfig("lending_matches_max"))|raw }}</p>

<form class="form-horizontal" method="post">

	{{ formelements.textfield('fee', i18n.getMessage('entity_player_lending_fee'), env.getRequestParameter('fee'), true, validationMsg, 'number') }}
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{{ i18n.getMessage('button_submit') }}</button>
		<a href="{{ env.getInternalUrl("myteam") }}" class="btn">{{ i18n.getMessage('button_cancel') }}</a>
	</div>
	<input type="hidden" name="page" value="lend-player"/>
	<input type="hidden" name="id" value="{{ env.getRequestParameter('id') }}"/>
	<input type="hidden" name="action" value="lend-player"/>
</form>
{% endblock %}