
{% extends "base.twig" %}
{% import "macros/formelements.twig" as formelements %}

{% block page_title %}
{{ i18n.getMessage("sell_player_title", player.player_firstname ~ " " ~ player.player_lastname) }}
{% endblock %}

{% block page_content %}

<h3>{{ i18n.getMessage("sell_player_put_on_list_title") }}</h3>

<dl class="dl-horizontal">
  <dt>{{ i18n.getMessage("entity_player_marktwert") }}</dt>
  <dd>{{ player.player_marketvalue|number_format(0, ',', ' ')  }} {{ env.getConfig("game_currency") }}</dd>

  <dt>{{ i18n.getMessage("entity_player_vertrag_gehalt") }}</dt>
  <dd>{{ player.player_contract_salary|number_format(0, ',', ' ')  }} {{ env.getConfig("game_currency") }}</dd>
  
  <dt>{{ i18n.getMessage("entity_player_vertrag_torpraemie") }}</dt>
  <dd>{{ player.player_contract_goalbonus|number_format(0, ',', ' ')  }} {{ env.getConfig("game_currency") }}</dd>
  
  <dt>{{ i18n.getMessage("entity_player_vertrag_spiele") }}</dt>
  <dd>{{ player.player_contract_matches  }} {{ i18n.getMessage("player_details_unit_matches") }}</dd>
</dl>

<p style="margin-top: 30px"><i class="icon-arrow-right"></i> <a href="{{ env.getInternalUrl("player", "id=" ~ player.player_id) }}">{{ i18n.getMessage("extend-contract_link_profile") }}</a></p>

<form class="form-horizontal" method="post">

	{{ formelements.textfield('min_bid', i18n.getMessage('transfermarket_min_bid'), env.getRequestParameter('min_bid'), true, validationMsg, 'number') }}
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{{ i18n.getMessage('button_submit') }}</button>
		<a href="{{ env.getInternalUrl("myteam") }}" class="btn">{{ i18n.getMessage('button_cancel') }}</a>
	</div>
	<input type="hidden" name="page" value="sell-player"/>
	<input type="hidden" name="id" value="{{ env.getRequestParameter('id') }}"/>
	<input type="hidden" name="action" value="sell-player"/>
</form>
{% endblock %}