{% extends "base.twig" %}

{% block page_title %}
{{ i18n.getMessage("youthplayer-buy_navlabel") }}
{% endblock %}

{% block page_content %}
<form class="form-horizontal" method="post">

	<fieldset>
		<legend>{{ i18n.getMessage("youthplayer-buy_formlabel") }}</legend>
		
		<p><strong>{{ i18n.getMessage("youthplayer-buy_confirmationmsg") }}</strong></p>
	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{{ i18n.getMessage('button_confirm') }}</button>
		<a href="{{ env.getInternalUrl("youth-marketplace") }}" class="btn">{{ i18n.getMessage('button_cancel') }}</a>
	</div>
	<input type="hidden" name="page" value="youthplayer-buy"/>
	<input type="hidden" name="id" value="{{ env.getRequestParameter('id') }}"/>
	<input type="hidden" name="action" value="buy-youthplayer"/>
</form>
{% endblock %}