{% extends "views/formation_base.twig" %}

{% block formation_setup %}

	<h4>{{ i18n.getMessage("entity_youthmatch") }}</h4>
	
	<p>{{ env.getFormattedDatetime(matchinfo.matchdate) }}: <a href="{{ env.getInternalUrl("team", "id=" ~ matchinfo.home_team_id) }}">{{ matchinfo.home_team_name }}</a>
		- <a href="{{ env.getInternalUrl("team", "id=" ~ matchinfo.guest_team_id) }}">{{ matchinfo.guest_team_name }}</a></p>

	<form method="post" class="form-inline">
		<input type="hidden" name="page" value="youth-formation" />
		<input type="hidden" name="matchid" value="{{ env.getRequestParameter("matchid") }}" />
		
		<h4>{{ i18n.getMessage("formation_setup_title") }}</h4>
		
		<select class="input-mini wstooltip" name="formation_defense" title="{{ i18n.getMessage("player_position_defense") }}">
			{% for i in 1..4 %}
				<option value="{{ i }}"{% if setup.defense == i %} selected{% endif %}>{{ i }}</option>
			{% endfor %}
		</select>
		<span>-</span>
		<select class="input-mini wstooltip" name="formation_defensemidfield" title="{{ i18n.getMessage("option_DM") }}">
			{% for i in 0..2 %}
				<option value="{{ i }}"{% if setup.dm == i %} selected{% endif %}>{{ i }}</option>
			{% endfor %}
		</select>
		<span>-</span>
		<select class="input-mini wstooltip" name="formation_midfield" title="{{ i18n.getMessage("player_position_midfield") }}">
			{% for i in 0..4 %}
				<option value="{{ i }}"{% if setup.midfield == i %} selected{% endif %}>{{ i }}</option>
			{% endfor %}
		</select>
		<span>-</span>
		<select class="input-mini wstooltip" name="formation_offensivemidfield" title="{{ i18n.getMessage("option_OM") }}">
			{% for i in 0..2 %}
				<option value="{{ i }}"{% if setup.om == i %} selected{% endif %}>{{ i }}</option>
			{% endfor %}
		</select>
		<span>-</span>
		<select class="input-mini wstooltip" name="formation_forward" title="{{ i18n.getMessage("player_position_striker") }}">
			{% for i in 0..3 %}
				<option value="{{ i }}"{% if setup.striker == i %} selected{% endif %}>{{ i }}</option>
			{% endfor %}
		</select>
		
		
		<button type="submit" class="btn" name="buttonSetupChange" value="1">{{ i18n.getMessage("formation_setup_button") }}</button>
			
		
		<a class="btn clearAllBtn" href="#"><i class="icon-trash"></i> {{ i18n.getMessage("formation_clearall") }}</a>
	</form>
{% endblock %}

{% block form_footer %}

	<div class="form-actions" style="text-align: center">
		<button type="submit" class="btn btn-primary">{{ i18n.getMessage('button_save') }}</button>
		
		<a href="{{ env.getInternalUrl(env.getPageId(), "matchid=" ~ env.getRequestParameter("matchid")) }}" class="btn">{{ i18n.getMessage('button_reset') }}</a>
		
		<a href="{{ env.getInternalUrl("youth-matches") }}" class="btn">{{ i18n.getMessage('button_cancel') }}</a>
	</div>
	<input type="hidden" name="setup" value="{{ setup.defense }}-{{ setup.dm }}-{{ setup.midfield }}-{{ setup.om }}-{{ setup.striker }}"/>
	<input type="hidden" name="page" value="youth-formation"/>
	<input type="hidden" name="action" value="save-youth-formation"/>
	<input type="hidden" name="matchid" value="{{ env.getRequestParameter("matchid") }}"/>
{% endblock %}


